@use "../../../styles" as styles

@include styles.fa-icons-btns
@include styles.tickets

.accordion-collapse
    background-color: styles.$algore-bg
    margin-top: -1px

.modal-body img
    width: 100%
    height: auto

.modal-backdrop
    background-color: rgba(255, 255, 255, .88)