<div class="container">   
    <h1>Nachbefragung</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu enim, cursus et tristique sit amet, posuere eu eros. Proin in libero eros. Sed at est pretium mauris lobortis lobortis. Suspendisse ac purus vel purus auctor porta non nec felis. Maecenas hendrerit metus quis nulla pharetra, et pulvinar neque sollicitudin. Nulla feugiat, diam sit amet dignissim ullamcorper, erat dolor eleifend justo, vel dapibus nisi erat eget libero. Aliquam fermentum justo vel consequat finibus. Integer id convallis nibh.</p>
    <a href="thank-you" class="btn" role="button">weiter</a>
</div>