<h2 class="accordion-header" [id]="'heading'+i">       
    <button class="accordion-button p-0" [ngClass]="{ 'collapsed': i != 0 }" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+i" aria-expanded="false" [attr.aria-controls]="'collapse'+i">
      <div class="container ticket-details px-0">
        <div class="row">
           
            <!-- ticket head (grey)-->
            <div class="col-lg-3 ticket-head">
                <div class="row px-2 py-3">
                    <div class="col-5 date text-center">
                        {{ ticket.created_at | date:'dd MMM yy'}}            
                    </div>  
                    <div class="col-4 index text-center">
                        {{ ticket.index }}           
                    </div>                                 
                    <div class="col-3 status text-center" [ngClass]="mapStatusToIcon(ticket.status)"></div>                    
                </div>                
            </div>
            
            <!-- ticket tail (blue)-->
            <div class="col-lg-9 ticket-tail">
                <div class="row px-2 py-3">
                    <div class="col-3 category">{{ ticket.assignee | extractString }}</div>
                    <div class="col-4"> {{ ticket.topic }}
                        <span *ngIf=ticket.subtopic class="p-1">></span>
                        {{ ticket.subtopic }}    </div>
                    <div class="col-3">
                        <div class="btn-group">
                            <button class="dropdown-toggle assignee" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ ticket.assignee | trimString }} 
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li *ngFor="let assignee of assignees, let i = index">
                                <a class="dropdown-item" (click)='updateTicket({assignee: assignee}); updateTicket({confidence: 100 }); updateTicket({topic: "Allgemein"}); updateTicket({subtopic: ""});' href="#">{{ assignee }}</a>
                              </li>
                            </ul>
                        </div>           
                    </div>
                    <div class="col-1 text-center confidence" [ngStyle]="{'color': mixColors(ticket.confidence)}">
                        {{ ticket.confidence }} %           
                    </div>
                    <div class="col-1 text-center priority">
                        {{ ticket.priority | normalizeToDomain_0_5 }}           
                    </div>
                </div>                
            </div>  

        </div>        
      </div>
    </button>
  </h2>

  <div [id]="'collapse'+i" class="accordion-collapse collapse" [ngClass]="{ 'show': i == 0 }" [attr.aria-labelledby]="'heading'+i" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        <div class="container px-0">
            <div class="row">
                <div class="col-lg-3 p-2 lt-grey-15">                   
                </div>
                <div class="col-lg-9 p-2 dk-blue-90"> 
                    <div class="row p-2">
                        <div class="col-7 classification">
                         
                                <span class="customer">{{ ticket.customer }}</span>                   
                                {{ ticket.message }} 
                             
                        </div>
                    </div>                              
                </div>
            </div>
        </div>        
    </div>
  </div>
