@use "../../../styles" as styles

@include styles.tickets
@include styles.switches

.ticket-head
    background: styles.$algore-lt-grey

.ticket-tail
    background: styles.$algore-dk-blue
    color: styles.$algore-white