<div class="container">  
    <h1>Vorbefragung</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id accumsan tellus. Pellentesque vel lorem pellentesque, placerat nunc nec, sodales ipsum. Curabitur varius varius lectus, eget molestie ligula venenatis nec. Vestibulum tellus augue, tempor in arcu id, fermentum euismod purus. Sed in elementum augue. Etiam malesuada finibus mi ac pretium. Ut a elit vitae augue vulputate aliquet. Duis vel ex mattis, placerat diam quis, tempor nibh. Duis mauris ex, commodo quis odio ac, egestas efficitur enim. Etiam facilisis euismod quam sed pellentesque. Etiam vel semper libero, vitae dapibus odio.</p>
    <a href="privacy" class="btn" role="button">zurück</a>
    <a href="" class="btn" role="button">weiter</a>
</div>