<div class="container">  
    <div class="row">
        <div class="col-lg-6">
            <p class="py-2">
                Beantworten Sie bitte die allgemeinen Fragen und senden Ihre Antworten mit "Senden" ab.<br>Klicken Sie anschließend auf "weiter", um zur Studie zu gelangen.
            </p>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSehfggOwGqnutR4kkl8QKGTnC3MLVervPPYjUNEOlN9l6Roig/viewform?embedded=true" width="100%" height="2150" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">Wird geladen…</iframe>
        </div>
        <div class="col-lg-6">
            <a href="privacy" class="btn" role="button">zurück</a>
            <a href="" class="btn" role="button">weiter</a>
        </div>  
    </div>    
</div>