<div class="container">  
    <div class="row">
        <div class="col-lg-8">
            <h1>Datenschutzerklärung</h1>
            <p>Im Rahmen der Studie werden allgemeine Daten der Teilnehmenden erhoben, Antworten der Teilnahmenden gespeichert sowie die Interaktionen mit Interface-Elementen geloggt. Alle Daten werden in anonymisierter Form verarbeitet, sodass kein Rückschluss auf Ihre Person möglich ist. Die Daten werden ausschließlich zum wissenschaftlichen Zweck erhoben und verarbeitet und nach Abschluss des Forschungsprojektes gelöscht.</p>
            <input class="form-check-input me-2" type="checkbox" [(ngModel)]="privacy" id="privacyCheckCheckbox" autocomplete="off">
            <label class="form-check-label" for="privacyCheckCheckbox">Ich habe die Datenschutzerklärung gelesen und stimme der anonymisierten Verarbeitung der Daten zu.</label><br>
            <a href="introduction" class="btn" role="button">zurück</a>
            <a href="preliminary" class="btn" [ngClass]="privacy ? 'enabled' : 'disabled'" role="button">weiter</a>
        </div>
    </div>
</div>