@use "../../../styles" as styles

:host
  color: styles.$algore-white

.card
    margin-top: styles.$algore-margin
    margin-bottom: styles.$algore-margin
    border: none

.card-body
  background: styles.$algore-dk-blue
  border-radius: 0 0 styles.$algore-border-radius styles.$algore-border-radius

.ticket
    position: relative
    background: styles.$algore-lt-grey
    border-radius: styles.$algore-border-radius styles.$algore-border-radius 0 0
    display: inline-block
    padding: 1em

.ticket:before
    content: ''
    position: absolute
    top: 0.9em
    top: calc(0.9em - 1px)
    height: 1.6em
    width: 0.8em
    background: white

.ticket:before 
    left: -2px
    border-radius: 0 1em 1em 0
    border-left-color: white