:host
  border-radius: 20px   
  box-shadow: 10px 5px 20px #d4d4d4
  display: inline-block
  width: 20%  
  height: 30%
  margin: auto  /* Perfectly center the item in both axes as margin set to auto in a flex container absorbs extra space. */

.ticket-upper 
  background: #c4c4c4
  border-radius: 20px 20px 0 0
  display: block
  padding: 1em
  height: 25%

.ticket-lower
  background: #303544
  border-radius: 0 0 20px 20px   
  color: #eeeeee
  display: block
  padding: 1em
  height: 75%

