@use "../../../styles" as styles

:host
  color: styles.$algore-white

.card
    margin-top: styles.$algore-margin
    margin-bottom: styles.$algore-margin

.card-body
  background: styles.$algore-dk-blue

.ticket
    position: relative
    background: styles.$algore-lt-grey
    display: inline-block
    padding: 1em 2em

.ticket:before
    height:90px
    width:45px
    content: ''
    position: absolute
    top: 0.9em
    top: calc(0.9em - 1px)
    height: 1.2em
    width: 0.6em
    border: 0px solid white
    background: white

.ticket:before 
    left: -2px
    border-radius: 0 1em 1em 0
    border-left-color: white