<div class="card">
    
  <div class="card-header">

    <div class="d-flex justify-content-between bd-highlight">
      <p class="py-2 bd-highlight">{{ ticket.created_at | date:'dd MMM yy'}}</p>
      <p class="py-2 bd-highlight index">ID: {{ ticket.index }}</p>
      <p class="py-2 bd-highlight status">{{ ticket.status }}</p>
    </div>

  </div>

  <div class="container card-body shadow">   

      <!-- TICKET FRONT -->
    <div class="front-side" *ngIf="front">      
      <div class="row">        
        <div class="col-9">  
          <div class="btn-group">
            <button class="dropdown-toggle assignee p-0" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ ticket.assignee }} 
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li *ngFor="let assignee of assignees, let i = index">
                <a class="dropdown-item" (click)='updateTicket({assignee: assignee})' href="#">{{ assignee }}</a>
              </li>
            </ul>
        </div>  
          <p class="category m-0">{{ ticket.category }}</p>
          {{ ticket.topic }}
          <span class="p-1">></span>
          {{ ticket.subtopic }}   
        </div>
        <div class="col-3">
          <p data-confidence="ticket.confidence" class="confidence text-end" [ngStyle]="{'color': mixColors(ticket.confidence)}">{{ ticket.confidence }} %</p>
          <p class="priority text-end m-0">{{ ticket.priority }}</p>    
        </div>
      </div>
    </div>

    <!-- TICKET BACK -->
    <div class="back-side py-2" *ngIf="!front">
      <span class="customer">{{ ticket.customer }}</span>
      {{ ticket.message }}     
    </div>   

    <!-- FLIP CARD BTN -->
      <div class="row pt-4 pb-2">
        <label class="switch position-absolute start-50 translate-middle">
          <input (click)="flipSide()" type="checkbox" checked>
          <span class="slider round"></span>
        </label>
      </div>     
    

  </div>

</div>