<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1>Vielen Dank!</h1>
            <p>Falls Sie Interesse am Forschungsprojekt oder den Studienergebnissen haben, wenden Sie sich bitte an die <a href="https://www.htw-dresden.de/hochschule/fakultaeten/info-math/forschung/technische-visualistik" target="_blank">Professur für Technische Visualistik</a> an der HTW Dresden.</p>
            <p>Sie können das Fenster jetzt schließen.</p>
        </div>
    </div>
</div>
