<div class="container">    
    <div class="row">
        <div class="col-lg-8">
            <h1>Willkommen zur Online-Studie "KI-basierte Dialogsysteme"</h1>
            <p>Vielen Dank, dass Sie sich die Zeit nehmen, an unserer Studie teilzunehmen.</p>
            <p>Die Studie ist Teil des Forschungsprojektes <a href="https://www.htw-dresden.de/news/fits-wer-lernt-von-wem-co-learning-von-mensch-und-maschine" target="_blank">HUBBLE</a> (HUman Behaviour-Based explainable machine Learning) der HTW Dresden, der Hochschule Mittweida (HSMW) und der Dresdner Firma Spectos GmbH. Zentrales Thema des Projekts ist die Untersuchung menschlicher Faktoren im Zusammenhang mit maschinellem Lernen. Wir erforschen die Einsatzmöglichkeiten eines neuen Algorithmus, welcher menschliches Verhaltens nachahmt, und gehen wir der Frage nach, wie die Interaktion von Menschen mit KI-gestützten Systemen gestaltet werden kann. Die Studie zielt insbesondere darauf ab, neue Erkenntnisse dazu zu gewinnen, wie Verständlichkeit, Sicherheit und Transparenz der Dialoge erhöht werden können. </p>
            <p>Zu Beginn bitten wir Sie, allgemeinen Angaben zu ihrer Person zu tätigen, welche die statistische Auswertung erleichtern. Danach werden Sie zu einem prototypischen Interface weitergeleitet, in welchem Sie 7 Aufgaben bearbeiten. Abschließend werden wir Ihnen noch einige Fragen zu Ihrer Interaktion mit dem Interface stellen. Die Bearbeitungsdauer der Studie beträgt etwa 10-15 Minuten.</p>
            <a href="privacy" class="btn" role="button">weiter</a>
        </div>
        <div class="col-lg-4"></div>
    </div>          
</div>
