/* You can add global styles to this file, and also import other style files */

/* COLOR */
$algore-white: #fff
$algore-lt-grey: #c4c4c4
$algore-dk-blue: #303544

/* BORDER */
$algore-border-radius: 1em

/* MARGIN */
$algore-margin: .7em