/* You can add global styles to this file, and also import other style files */

/* BORDER */
$algore-border-radius: 1em

/* COLOR */
$algore-white: #fff
$algore-lt-grey: #c4c4c4
$algore-dk-grey: #767983
$algore-lt-blue: #0969da
$algore-dk-blue: #303544
$algore-pink: #ef5da8
$algore-green: #3bbcb2
$algore-yellow: #f4de51
$algore-black: #000

/* FONT */
$font-large: 1.125rem          /* 18px */
$font-regular: 1rem            /* 16px */
$font-medium: 0.875rem         /* 14px */
$font-small: .75rem            /* 12px */
$font-extra-small: .625rem     /* 10px */

/* MARGIN */
$algore-margin: .7em

/* MIXINS */

@mixin dropdowns
  .dropdown-menu
    font-size: $font-small

@mixin tickets

  .accordion-column-names
    font-size: $font-small
    color: $algore-dk-blue

  .accordion-item
    border: none
    margin-bottom: 1px

  .ticket-details,
  .classification
    font-size: $font-small

  .assignee
    cursor: pointer
    color: inherit
    background: transparent
    border: none
    font-size: $font-small  
    font-weight: 200

  .assignee:before
    font-family: "Font Awesome 5 Free"
    content: "\f007"
    display: inline-block
    padding-right: 3px
    font-weight: 900

  .customer
    display: block
    font-style: italic
    font-size: $font-small  
    margin-bottom: .5em

  .customer:before
    font-family: "Font Awesome 5 Free"
    content: "\f075"
    display: inline-block
    padding-right: 3px
    font-weight: 900

  .category,
  .confidence,
  .priority
    font-size: $font-large
    font-weight: bold

  .confidence    
    color: mix($algore-green, $algore-yellow, 60%)    

  .date
    font-size: $font-extra-small 
    color: $algore-white !important

  .index
    font-size: $font-extra-small 
    color: $algore-white !important

  .status 
    font-style: italic
    font-size: $font-regular

  .topic
    font-size: $font-small 

  .subtopic
    font-size: $font-small   
  
  .message
    font-size: $font-small     

@mixin fa-icons-btns

  button:focus
    outline:0 !important

  button.active
    border-bottom: 3px solid $algore-dk-blue
    border-radius: 0px

  button span
    background-color: $algore-white
    color: $algore-dk-blue
    font-size: 1.5rem

@mixin caret-down
  border-top: $caret-width solid
  border-right: $caret-width solid transparent
  border-bottom: 0
  border-left: $caret-width solid transparent

@mixin caret-up
  border-top: 0
  border-right: $caret-width solid transparent
  border-bottom: $caret-width solid
  border-left: $caret-width solid transparent

@mixin caret-end 
  border-top: $caret-width solid transparent
  border-right: 0
  border-bottom: $caret-width solid transparent
  border-left: $caret-width solid

@mixin caret-start 
  border-top: $caret-width solid transparent
  border-right: $caret-width solid
  border-bottom: $caret-width solid transparent

@mixin caret($direction: down) 
  @if $enable-caret 
    &::after 
      display: inline-block
      margin-left: $caret-spacing
      vertical-align: $caret-vertical-align
      content: ""
      @if $direction == down 
        @include caret-down()
      @else if $direction == up 
        @include caret-up()
      @else if $direction == end
        @include caret-end()

    @if $direction == start 
      &::after 
        display: none

      &::before
        display: inline-block
        margin-right: $caret-spacing
        vertical-align: $caret-vertical-align
        content: ""
        @include caret-start()

    &:empty::after 
      margin-left: 0

@mixin scrollbars
    ::-webkit-scrollbar
      width: 5px
      border-radius: 10px
      background-color: black

    ::-webkit-scrollbar-thumb
      border-radius: 10px
      background-color: white

    ::-webkit-scrollbar-track
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
      border-radius: 10px
      background-color: black

@mixin switches
    .switch
      position: relative
      display: inline-block
      width: 2.8125rem
      height: 1.875rem

    .switch input 
      opacity: 0
      width: 0
      height: 0

    .slider 
      position: absolute
      cursor: pointer
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: $algore-dk-grey
      -webkit-transition: .4s
      transition: .4s

    .slider:before 
      position: absolute
      content: ""
      height: 1.875rem
      width: 1.875rem
      background-color: $algore-yellow
      -webkit-transition: .4s
      transition: .4s

    input:focus + .slider 
      box-shadow: 0 0 1px white

    input:checked + .slider:before 
      -webkit-transform: translateX(0rem)
      -ms-transform: translateX(0rem)
      transform: translateX(0rem)

    input:not(checked) + .slider:before 
      -webkit-transform: translateX(0.9375rem)
      -ms-transform: translateX(0.9375rem)
      transform: translateX(0.9375rem)

    .slider.round 
      border-radius: 1.875rem 

    .slider.round:before 
      border-radius: 50%
