<div class="pt-2 task container">

    <div class="row">
        <div class="col-6">     
            <h4>Aufgabe {{ task.no }}</h4>
            <p>{{ task.description }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">           
            
              <!-- text input (if task has attribute "text")-->
              <div *ngIf="task.input == 'number'">
                <input type="range"  [(ngModel)]="task.answer" (input)="setNumericAnswer($event)" list="tickmarks" class="form-range" min="0" max="100" step="10" id="rangeInput">
                <datalist id="tickmarks" class="d-flex justify-content-between">
                    <option value="0" label="niedrig (0%)"></option>
                    <option value="100" label="hoch (100%)"></option>
                </datalist>
            </div>

            <!-- checkbox (if task has attribute "checkbox") -->
            <div *ngIf="task.input == 'checkbox'">
                <input class="form-check-input me-2" type="checkbox" [(ngModel)]="task.done" id="taskDoneCheckbox" autocomplete="off">
                <label class="form-check-label" for="taskDoneCheckbox">Ok, erledigt.</label>
            </div>

            <!-- dropdown (categories) (if task has attribute "dropdown")-->
            <div *ngIf="task.input == 'select'" class="btn-group d-block">
                
                <select class="form-select form-select-sm" [(ngModel)]="task.answer" (change)="checkOptionSelected()">
                    <option value="" disabled selected>Bitte wählen</option>
                    <option *ngFor="let assignee of assignees" [ngValue]="assignee">{{assignee}}</option>
                </select>
            </div>   
        </div>
        <div class="col-6 d-flex align-content-end">      
            <!-- next page -->    
            <a class="btn py-0" [ngClass]="task.done ? 'enabled' : 'disabled'" (click)='updateTask({});' role="button">weiter</a> 
        </div>   
    </div>   
</div>



